html,
body{
	height:100%;
	background:#b3b3b3;
	color:white;
	font-family:Arial;
}
body{
	margin:0;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
#root-container{
	width:980px;
	margin:0 auto;
	background:black;
}
#left-side{
	display:inline-block;
	position:fixed;
	top:64px;
	width:320px;
	float:left;
	text-align:right;
	padding-right:32px;
}
#right-side{
	width:640px;
	float:right;
}
#text-area{
	text-align:right;
	margin-right:2em;
}
.social-links li,
.social-links a{display:inline-block;}
.artwork {font-size:0;}
.artwork li{margin:0;padding:0}